@font-face {
    font-family: 'Arno Pro Caption';
    src: url('../fonts/ArnoPro-BoldCaption.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldCaption.woff') format('woff'),
        url('../fonts/ArnoPro-BoldCaption.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Display';
    src: url('../fonts/ArnoPro-BoldDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-BoldDisplay.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro';
    src: url('../fonts/ArnoPro-Bold.woff2') format('woff2'),
        url('../fonts/ArnoPro-Bold.woff') format('woff'),
        url('../fonts/ArnoPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro';
    src: url('../fonts/ArnoPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldItalic.woff') format('woff'),
        url('../fonts/ArnoPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Display';
    src: url('../fonts/ArnoPro-BoldItalicDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldItalicDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-BoldItalicDisplay.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Caption';
    src: url('../fonts/ArnoPro-BoldItalicCaption.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldItalicCaption.woff') format('woff'),
        url('../fonts/ArnoPro-BoldItalicCaption.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Subhead';
    src: url('../fonts/ArnoPro-BoldItalicSubhead.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldItalicSubhead.woff') format('woff'),
        url('../fonts/ArnoPro-BoldItalicSubhead.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro SmText';
    src: url('../fonts/ArnoPro-BoldSmText.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldSmText.woff') format('woff'),
        url('../fonts/ArnoPro-BoldSmText.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Subhead';
    src: url('../fonts/ArnoPro-BoldSubhead.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldSubhead.woff') format('woff'),
        url('../fonts/ArnoPro-BoldSubhead.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro SmText';
    src: url('../fonts/ArnoPro-BoldItalicSmText.woff2') format('woff2'),
        url('../fonts/ArnoPro-BoldItalicSmText.woff') format('woff'),
        url('../fonts/ArnoPro-BoldItalicSmText.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Display';
    src: url('../fonts/ArnoPro-Display.woff2') format('woff2'),
        url('../fonts/ArnoPro-Display.woff') format('woff'),
        url('../fonts/ArnoPro-Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Caption';
    src: url('../fonts/ArnoPro-Caption.woff2') format('woff2'),
        url('../fonts/ArnoPro-Caption.woff') format('woff'),
        url('../fonts/ArnoPro-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro';
    src: url('../fonts/ArnoPro-Italic.woff2') format('woff2'),
        url('../fonts/ArnoPro-Italic.woff') format('woff'),
        url('../fonts/ArnoPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Display';
    src: url('../fonts/ArnoPro-ItalicDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-ItalicDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-ItalicDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Subhead';
    src: url('../fonts/ArnoPro-ItalicSubhead.woff2') format('woff2'),
        url('../fonts/ArnoPro-ItalicSubhead.woff') format('woff'),
        url('../fonts/ArnoPro-ItalicSubhead.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro SmText';
    src: url('../fonts/ArnoPro-ItalicSmText.woff2') format('woff2'),
        url('../fonts/ArnoPro-ItalicSmText.woff') format('woff'),
        url('../fonts/ArnoPro-ItalicSmText.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Caption';
    src: url('../fonts/ArnoPro-ItalicCaption.woff2') format('woff2'),
        url('../fonts/ArnoPro-ItalicCaption.woff') format('woff'),
        url('../fonts/ArnoPro-ItalicCaption.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Light Display';
    src: url('../fonts/ArnoPro-LightItalicDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-LightItalicDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-LightItalicDisplay.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd';
    src: url('../fonts/ArnoPro-Smbd.woff2') format('woff2'),
        url('../fonts/ArnoPro-Smbd.woff') format('woff'),
        url('../fonts/ArnoPro-Smbd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Light Display';
    src: url('../fonts/ArnoPro-LightDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-LightDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-LightDisplay.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd Caption';
    src: url('../fonts/ArnoPro-SmbdCaption.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdCaption.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdCaption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro';
    src: url('../fonts/ArnoPro-Regular.woff2') format('woff2'),
        url('../fonts/ArnoPro-Regular.woff') format('woff'),
        url('../fonts/ArnoPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd Display';
    src: url('../fonts/ArnoPro-SmbdDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd Display';
    src: url('../fonts/ArnoPro-SmbdItalicDisplay.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdItalicDisplay.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdItalicDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd';
    src: url('../fonts/ArnoPro-SmbdItalic.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdItalic.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd SmText';
    src: url('../fonts/ArnoPro-SmbdItalicSmText.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdItalicSmText.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdItalicSmText.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd Caption';
    src: url('../fonts/ArnoPro-SmbdItalicCaption.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdItalicCaption.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdItalicCaption.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd Subhead';
    src: url('../fonts/ArnoPro-SmbdSubhead.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdSubhead.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdSubhead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd SmText';
    src: url('../fonts/ArnoPro-SmbdSmText.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdSmText.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdSmText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arno Pro Smbd Subhead';
    src: url('../fonts/ArnoPro-SmbdItalicSubhead.woff2') format('woff2'),
        url('../fonts/ArnoPro-SmbdItalicSubhead.woff') format('woff'),
        url('../fonts/ArnoPro-SmbdItalicSubhead.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
