@import url("fonts.css");

:root{
    --russet: #834826;
    --light-orange: #F7D9B3;
    --cornsilk: #F8EECC;
    --coffee: #7A5341;
    --liver-chestnut: #98774D;
}

* {
    font-family: 'Arno Pro';
}

/* Header */
header {
    background-image: url(/images/Header.png);
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10em;
    padding-right: 10em;
}

/* TLS FTA Star in Header */
.header-logo {
    width: 84px;
}

div.header-title {
    padding-left: 5em;
    padding-right: 5em;
}

h3.header-title-top {
    font-size: 2em !important;
    margin-top: -1rem;
    color: var(--light-orange);
}

h1.header-title-bottom {
    font-size: 4em !important;
    color: var(--light-orange);
    text-shadow: 1px 5px 15px black;
    margin-top: -0.75rem;
}

p.header-description {
    font-size: 1.25em !important;
    color: var(--light-orange);
}

div.header-article {
    padding-left: 3em;
    padding-right: 3em;
}

.card {
    box-shadow: 5px 3px 10px black;
    height: 350px;
}

div.card-body {
    margin-left: 1.5em;
}

.card-img {
    height: 16rem;
    object-fit: cover;
}

h5.article-category {
    color: white;
    border-radius: 25px;
    background: var(--coffee);
    width: 150px;
    height: 24px;
    margin-top: -10px;
    padding: 2px;
    padding-left: 16px;
    box-shadow: 1px 1px 3px black;
    display: inline-block;
    text-transform: uppercase;
}

h4.article-title {
    color: var(--coffee);
    padding-top: 10px;
}

p.article-author {
    color: var(--liver-chestnut);
    background: var(--light-orange);
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;

}

p.article-date {
    color: var(--liver-chestnut);
    background: var(--cornsilk);
    padding-left: 5px;
    padding-right: 5px;
    font-style: italic;
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;

}

p.article-intro {
    color: white;
    background: var(--liver-chestnut);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;

}

/* Footer */
footer {
    background-color: var(--russet);
    margin-top: 3rem;
}

div.row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.left {
    justify-content: center;
}

figure {
    text-align: center;
}

.footer-logo {
    width: 454px;
}

.footer-heading {
    color: var(--light-orange);
    font-size: 1.5625em;
    font-weight: 700;
}

.footer-description{
    color: var(--cornsilk);
    font-size: 1.25em;
}

a {
    color: var(--cornsilk) !important;
    text-decoration: none !important;
    font-size: 1.25em;
    font-weight: 500;
}

a:hover {
    color: var(--cornsilk) !important;
    text-decoration: underline !important;
}

i {
    color: var(--cornsilk);
}

.footer-developers {
    color: var(--cornsilk);
    font-size: 1.25em;
    font-weight: 500;
}
