@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --russet: #834826;
    --light-orange: #F7D9B3;
    --cornsilk: #F8EECC;
}

* {
    font-family: 'EB Garamond';
}

body {
    background-color: #C2A683 !important;
}

/* Article Cards */

.articles {
    color: #664011;
}

.articles a {
    text-decoration: none;
    color: inherit;
}

.articles .card {
    background-color: #F8EECC;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.1s ease;
}

.articles .card * { /* Add transition to all elements within cards */
    transition: 0.1s ease;
}

.articles .card-img-top {
    height: 16rem;
    object-fit: cover;
    object-position: top;
}

.articles .card:hover {
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
    background-color: #f8f4e6;
}

.articles .card-title:hover {
    text-decoration: underline;
}

.articles .card:hover .card-img { /* Article Visual */
    filter: sepia(0.5);
}

.articles .card-byline {
    position: relative; /* For .card-byline > img (feather) positioning */
}

.articles .card-byline > .card-text {
    padding: 0.1rem 1rem 0.1rem 3rem;
}

.articles .card-byline > img { /* Feather Icon */
    position: absolute;
    left: 0.2rem;
    bottom: 0.7rem;
}

.articles .card-date { /* Article Date */
    display: inline-block;
    background-color: #FCE0BC;
}

.articles .card-category { /* Article Category */
    display: inline-block;
    text-transform: uppercase;
    background-color: #C2A683;
    color: #F8EECC;
}

.articles .view-all-link:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--russet);
    margin-top: 3rem;
}

footer div.row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer div.left {
    justify-content: center;
}

footer figure {
    text-align: center;
}

footer .footer-logo {
    width: 454px;
}

footer .footer-heading {
    color: var(--light-orange);
    font-size: 1.5625em;
    font-weight: 700;
}

footer .footer-description{
    color: var(--cornsilk);
    font-size: 1.25em;
}

footer a {
    color: var(--cornsilk) !important;
    text-decoration: none !important;
    font-size: 1.25em;
    font-weight: 500;
}

footer a:hover {
    color: var(--cornsilk) !important;
    text-decoration: underline !important;
}

footer i {
    color: var(--cornsilk);
}

footer .footer-developers {
    color: var(--cornsilk);
    font-size: 1.25em;
    font-weight: 500;
}

/* Gallery */
.gallery-card-img {
    height: 16rem;
    object-fit: cover;
    object-position: top;
}

/* View All */
.subpage-header {
    background-image: url('../images/Header.png');
    background-size: cover;
    background-position: 100% 75%;
    background-repeat: no-repeat;
}

.subpage-header .subpage-title {
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.5);
}

.subpage-header .homepage-link {
    text-decoration: none;
    color: var(--light-orange);
}

.subpage-header .homepage-link:hover {
    text-decoration: underline;
}